@import url("components/buttons.css");
@import url("components/navbar.css");


body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #343a40;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  color: #343a40;
}

p {
  font-size: 1.3rem;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

.lead {
  font-size: 1.5rem;
}

.content-wrapper {
  border: 3px solid rbga(0, 0, 0, 0.025);
}


.divider {
/*  height: 3rem;
  background-color: rgba(0, 0, 0, .1);*/
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.img-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-main {
  max-height: 400px;
}
